{% extends "home.html" %}

{% block head %}
  {{ super() }}
{% endblock %}
		<title>Login</title>


{% block content %}
    	<div class="container" id="wrapper">
            <div class="row">
BOOKMARKS GET2
{#                  <div class="container">#}
{#                      {% with bookmarks = bookmarks %}#}
{#                          {% if bookmarks %}#}
{#                            {% for bookmark in bookmarks %}#}
{#                                  <div class="alert alert-dismissible alert-warning" role="alert" style="max-width: 30rem;">#}
{#                                    <h4 class="alert-heading">Warning!</h4>#}
{#                                    <p class="mb-0">{{ bookmark.id }}</p>#}
{#                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                                  </div>#}
{#                            {% endfor %}#}
{#                          {% endif %}#}
{#                      {% endwith %}#}
{#                  </div>#}


            </div>
        </div>
{% endblock %}
