{% extends "home.html" %}

{% block head %}
  {{ super() }}
{% endblock %}
		<title>Login</title>


{% block content %}
    	<div class="container" id="wrapper">
            <div class="row">

                <h1>BOOKMARKS GET</h1>


                          {% if bookmarks %}
                            {% for bookmark in bookmarks %}

                                    {{ bookmark.url }}

                            {% endfor %}
                          {% endif %}


            </div>
        </div>
{% endblock %}
