{% extends "home.html" %}

{% block head %}
  {{ super() }}
{% endblock %}
		<title>Login</title>


{% block content %}
    	<div class="center" id="wrapper">
            <div class="row">

                <h1>BOOKMARKS LIST</h1>

                          {% if bookmarks %}
                            {% for bookmark in bookmarks %}
                                <div class="center card mb-3" style="max-width: 20rem;">
                                  <h3 class="card-header">Bookmark</h3>
                                  <div class="card-body">
                                    <h6 class="card-subtitle text-muted">{{ bookmark.url }}</h6>
                                  </div>
                                  <div class="card-body">
                                    <p class="card-text">{{ bookmark.body }}</p>
                                  </div>
                                  <ul class="list-group list-group-flush">
                                  </ul>
                                  <div class="card-body">
                                  <form action="{{ url_for('bookmarks.delete_bookmark', bookmark_id=bookmark.id) }}" method="post">
                                          <button type="submit" class="btn btn-danger">Delete bookmark</button>
                                  </form>

                                  </div>
                                  <div class="card-footer text-muted">
                                    Created at {{ bookmark.created_at.strftime('%Y-%m-%d, %H:%M:%S') }}
                                  </div>
                                </div>

                            {% endfor %}
                          {% endif %}

        {% block content_messages %}
            {{ super() }}
        {% endblock %}


            </div>
        </div>
{% endblock %}
