<!DOCTYPE html>
<html lang="en">
	<head>
    {% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bookmarks</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='darkly.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}" />
    {% endblock %}
    </head>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

	<body>

{% block navbar %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark id=navbar-nav">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Bookmarks APP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('main.welcome') }}">Home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('main.register_user') }}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('micro.micro_abc') }}">micro_abc</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
{% endblock %}

    {% block content %}

        {% block logos %}
            <div class="container">
                <img src="/static/images/bookmark_logo.png" alt="logo" >
                <img src="/static/images/bookmark.png" alt="logo" width="100" height="100">
            </div>
        {% endblock %}

        {% block content_messages %}
            <br>
                  <div class="container">

                      {% with messages = get_flashed_messages(with_categories=True) %}
                          {% if messages %}
                            {% for category, message in messages %}

                                {% if category == 'success' %}
                                  <div class="alert alert-dismissible alert-success" role="alert" style="max-width: 30rem;">
                                    <h4 class="alert-heading">Warning!</h4>
                                    <p class="mb-0">{{ message }}</p>
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                {% endif %}

                                {% if category == 'warning' %}
                                  <div class="alert alert-dismissible alert-warning" role="alert" style="max-width: 30rem;">
                                    <h4 class="alert-heading">Warning!</h4>
                                    <p class="mb-0">{{ message }}</p>
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                {% endif %}

                                {% if category == 'error' %}
                                  <div class="alert alert-dismissible alert-danger" role="alert" style="max-width: 30rem;">
                                    <h4 class="alert-heading">Warning!</h4>
                                    <p class="mb-0">{{ message }}</p>
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                {% endif %}

                            {% endfor %}
                          {% endif %}
                      {% endwith %}
                  </div>
        {% endblock %}


    {% endblock %}

	</body>
</html>
